<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="/css/AddGallery.css">

</head>
<body>
    
<header>
    <div class="logo">
        <i class='bx bx-restaurant' aria-label="Restaurant logo"></i>
        <h1>ABC Restaurant</h1>
    </div>
   
</header>




<form id="gallery-form" action="/add-gallery" method="POST" enctype="multipart/form-data">
    <h1>Gallery Upload</h1>

    <label for="description">Description:</label>
    <input type="text" name="description" id="description" required>
    <br>
    <label for="image">Image:</label>
    <input type="file" name="imageurl" id="image" accept="image/*" required>
    <br>
    <button type="submit">Upload</button>
</form>

<button type="button" id="back-btn" onclick="window.location.href='/view-image'">Back to Gallery Page</button>



</body>
</html>