<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="/css/Customer.css">

    <title>Document</title>


</head>
<body>
    <header>
        <div class="logo"><i class='bx bx-restaurant'></i><h1>ABC Restaurant</h1>

        </div>

        

        <div class="navbar">

        <ul>
            <li><a href="#home" class="home-active">Home</a></li>
            <li><a href="/category-product">Menu</a></li>
            <li><a href="#Facilities">Facilities</a></li>
            <li><a href="#about-us">Aboutus</a></li>
           
            <li><a href="/contact">Contact</a></li>
            <li><a href="/image-customer">Gallery</a></li>
            <li><a href="/Login">Login</a></li>

        </ul>

        </div>

        
        <div class="search-bar">
            <input type="text" id="search" placeholder="Search...">
            <button onclick="performSearch()">Search</button>
        </div>
    </header>

    
    <div id="home">

        <div class="home-text">

            <h2>Welcome to ABC Restaurant!</h2>
            <div class="home-content">
             <p>We are delighted to have you here.</p><br>
             <p>Have a wonderful experice with us and Spent your unforgettable moments with us!</p>
            <img src="/images/bur.png" alt="">
            </div>
        </div>
   
    </div>

<section class="about-us" id="about-us">
    
        <div class="about-img">
            <img src="/images/about.jpg">
        </div>


        <div class="about-text">

            <h2>Our Story</h2>

            <p>At ABC Restaurant, we're proud to share our story of passion, dedication, and delicious food. Established in 2000, our main branch in Colombo has been the hub of our culinary journey, 
                with multiple branches spread across the island. Over the years, we've been committed to serving a diverse range of cuisines that cater to every palate. From traditional favorites to innovative twists, 
                our menu is designed to satisfy the cravings of our customers. With a focus on quality, freshness, and flavor, we strive to provide an exceptional dining experience that leaves a lasting impression.
                 Whether you're in the mood for something classic or adventurous,
                 our chefs are dedicated to crafting dishes that delight your taste buds and leave you wanting more.</p>
                 

                 
            <a href="Menu.html" class="about-btn">Go to Menu</a>

        </div>

    </section>


    <section  class="facilities" id="Facilities">
   
    
        <h2>Facilities We Serve</h2>

        <div class="facility">
            <h3>Dine In</h3>
            <img src="/images/Dine-in.jpg" alt="">
            <p>Our restaurant offers a warm and inviting dine-in experience, perfect for enjoying a meal with family and friends.</p>
            
        </div>

        <div class="facility">

            <h3>PhotoBooth Corner</h3>
            <img src="/images/photobooth.jpeg" alt="">
            <p>With a variety of props and backdrops, you can take home a keepsake of your time at our restaurant, making every moment unforgettable</p>

        </div>


        <div class="facility">
            <h3>Kids Indoor Play Area</h3>

            <img src="/images/playarea.jpg">
            <p>The play area is perfect for letting kids burn off some energy, making your family dining experience even more enjoyable.</p>
        </div>


    </section>

    <footer>

        <div class="footer-box">
            <h2>ABC Restaurant</h2>
            
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-tiktok'></i></a>
            </div>
        </div>

        <div class="footer-box">
            <h2>Contact</h2>
            <div class="contact">
                <span><i class='bx bxs-map'></i> 110, new city, Colombo 5</span>
                <span><i class='bx bxs-phone'></i> 055422154</span>
                <span><i class='bx bxs-envelope'></i> abcrestaurant@mail.com</span>
            </div>
        </div>
    </footer>
    
</body>
</html>