<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ABC Restaurant</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="/css/Login.css">
</head>
<body>
    <header>
        <div class="logo">
            <i class='bx bx-restaurant'></i><h1>ABC Restaurant</h1>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="Register.html">Register</a></li>
            </ul>
        </div>
    </header>
    <div class="main-container">
    <div class="login-info">

        <h2>Welcome!</h2>
        <p> We offer a diverse array of dishes, each crafted to tantalize your taste buds with flavors from around the world</p>
    
    </div>

    <div class="form-Container">
     
        <form action="/login" method="post">
            <h2>Login</h2>

            <!-- Show error message if login fails -->
            <div id="error-message" style="color: red; display: none;">
                Invalid username or password. Please try again.
            </div>

            <label for="username" required>Username</label>
            <input type="text" id="username" name="username" placeholder="Enter the Username" required>

            <label for="password" required>Password</label>
            <input type="password" id="password" name="password" placeholder="Enter the Password" required>

            
        <label for="role">Select Role</label>
        <select id="role" name="role">
            <option value="Customer">Customer</option>
            <option value="Admin">Admin</option>
            <option value="Staff">Staff</option>
        </select>

            <p>No Account? <a href="/register">Register</a></p>
            <button type="submit" id="submit">Login</button>
        </form>
    </div>
</div>

    <script>
        // Check if the URL contains the 'error' parameter and show the error message
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('error')) {
            document.getElementById('error-message').style.display = 'block';
        }
    </script>
</body>
</html>
