<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="/css/Managequery.css">
    <title>MAnage Query</title>
</head>
<body>
    
    <header>
        <div class="logo">
            <i class='bx bx-restaurant' aria-label="Restaurant logo"></i>
            <h1>ABC Restaurant</h1>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="AdminDashboard.html" class="home-active">Home</a></li>
                <li><a href="">Manage Order</a></li>
                <li><a href="Product.html">Manage Products</a></li>
                <li><a href="/view-images">Manage Gallery</a></li>
                <li><a href="">Manage Reservation</a></li>
                <li><a href="">Manage Queries</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </div>
    </header>
    

    <h1>Manage Query</h1>
    <table id="query-table">

        <thead>
        <tr>

            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    </tbody>

    </table>


    
    <footer>
        <div class="footer-box">
            <p> &#169 created by Sawdha Mufeedh</p>
            <p>Come Again for Versatile taste</p>
        </div>
    </footer>

    <script src="/js/ManageQuery.js"></script>
</body>
</html>