<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo"><i class='bx bx-restaurant'></i><h1>ABC Restaurant</h1>
    
        </div>
    
        
    
        <div class="navbar">
    
        <ul>
            <li><a href="#home" class="home-active">Home</a></li>
            <li><a href="Menu.html">Manage Menu</a></li>
            <li><a href="#Facilities">Facilities</a></li>
            <li><a href="#about-us">Manage User</a></li>
            <li>
                <select id="reserve" name="reserve">
                    <option value="">Reservation</option>
                    <option value="ManageDinein.html">Manage Dine-In</option>
                    <option value="Delivery.html">Manage Delivery</option>
                </select>
            </li>
            <li><a href="Contact.html">Manage Contact</a></li>
            <li><a href="Gallery.html">Manage Gallery</a></li>
    
        </ul>
    
        </div>
    
        
    </header>

    <div class="container">

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>No.of Guest</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Status</th>
                </tr>
                <tbody id="tablerows"></tbody>
            </thead>
        </table>
    </div>


           <script>"Admindine.js"</script>
       
</body>
</html>