<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Product</title>
    <link rel="stylesheet" href="/css/Product.css">
</head>
<body>
    
<header>
    <div class="logo">
        <i class='bx bx-restaurant' aria-label="Restaurant logo"></i>
        <h1>ABC Restaurant</h1>
    </div>
    <div class="navbar">
        <ul>
            <li><a href="AdminDashboard.html" class="home-active">Home</a></li>
            <li><a href="">Manage Order</a></li>
            <li><a href="Product.html">Manage Products</a></li>
            <li><a href="">Manage Reservation</a></li>
            <li><a href="">Manage Queries</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </div>
</header>

<div class="Table">
    <h1>Products</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tablerows"></tbody>
    </table>
</div>


<div class="add-product-btn">
    <button onclick="window.location.href='/add-product'">Add Product</button>
</div>

<script src="js/Product.js"></script>

</body>
</html>
